<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style color="black"></style>
<link rel="stylesheet" type="text/css" href="astrich.css" />
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />


<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="center">
		<div style="color:white" align="center">
			<h1>Signup Here</h1>
		</div>


		<form th:action="@{/process}" th:object="${user}" method="post"
			style="max-width: 600px; margin: 0 auto;">
			<div class="m-3">
				<div style="color:white" class="required-field">FirstName</div>

				<div class="form-group row">
					<label class="col-4 col-form-label"></label>
					<div class="col-8">
						<input type="text" th:field="*{firstName}" class="form-control"
							 minlength="3" maxlength="20"  required/>
							
							<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{fistName}">Incorrect name</p>
					</div>
				</div>
				<br>
				<div style="color:white" class="required-field">LastName:</div>
				<div class="form-group row">
					<label class="col-4 col-form-label"></label>
					<div class="col-8">
						<input type="text" th:field="*{lastName}" class="form-control"
							required />
					</div>
				</div>
				<br>
				<div style="color:white" class="required-field">Role:</div>
				<div class="form-group row">
					<label class="col-4 col-form-label"></label>
					<div class="col-8">
						<select th:field="*{role}" class="form-control" required />
						<option th:value="'Trainee'" th:text="Trainee"></option>
						<option th:value="'Employee'" th:text="Employee"></option>
						</select>
					</div>
				</div>
				<br>
				<div style="color:white" class="required-field">DOB:</div>
				<div class="form-group row">
					<label class="col-4 col-form-label"></label>
					<div class="col-8">
						<input type="date" th:field="*{dob}" id="datepicker"
							class="form-control" required />
					</div>
				</div>
				<br>
				<div style="color:white" class="required-field">E-mail:</div>
				<div class="form-group row">
					<label class="col-4 col-form-label"></label>
					<div class="col-8">
						<input type="email" th:field="*{email}" class="form-control"
							required />
					</div>
				</div>
				<br>
				<div style="color:white" class="required-field">Mobile:</div>
				<div class="form-group row">
					<label class="col-4 col-form-label"></label>
					<div class="col-8">
						<input type="tel" th:field="*{phone_no}" class="form-control"
							minlength="10" maxlength="10" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
							required />
					</div>
				</div>
				<br>
				<div style="color:white" class="required-field">Address:</div>
				<div class="form-group row">
					<label class="col-4 col-form-label"></label>
					<div class="col-8">
						<input type="text" th:field="*{address}" class="form-control"
							 minlength="5" maxlength="100" required />
					</div>
				</div><br>
				<div style="color:white" class="required-field">State:</div>
				<div class="form-group row">
					<label class="col-4 col-form-label"></label>
					<div class="col-8">
					<input th:field="*{state}" class="form-control" required />
					<select style="color:white" name="state_names" size="5">
                <option value="Telangana" th:field="*{state}">Telangana  </option>
                <option value="AP" th:field="*{state}"> AP</option>
                <option value="UP" th:field="*{state}"> UP </option>
                <option value="Gujarath" th:field="*{state}"> Gujarath </option>
                <option value="Maharastra" th:field="*{state}"> Maharastra </option>
                <option value="Karnataka" th:field="*{state}"> Karnataka </option>
                </select>
                </div>
                </div>
				
				<br>
				<div style="color:white" class="required-field">Gender:</div>
				<div class="form-group row">
					<label class="col-4 col-form-label"></label>
					<div class="col-8">
					<dib style="color:white">
					<!--<input th:field="*{gender}" class="form-control" required />-->
						<input type="radio" name="gender" value="male" th:field="*{gender}"> Male 
						<input type="radio" name="gender" value="female" th:field="*{gender}"> Female
					</div></div>
				</div><br>
				<div style="color:white" class="required-field">Languages known:</div>
				<div class="form-group row">
					<label class="col-4 col-form-label"></label>
					<div class="col-8">
					<div style="color:white">
					<!--<input th:field="*{languages}" class="form-control" required />-->
						
							<input type="checkbox" name="language1" value="Telugu" th:field="*{languages}">Telugu
							
							<input type="checkbox" name="language2" value="English" th:field="*{languages}">English
							
							<input type="checkbox" name="language3" value="Hindhi" th:field="*{languages}">Hindhi
							</div></div>
							</div><br>
							<div style="color:white" class="required-field">Profile photo:</div>
				            <div class="form-group row">
					            <label class="col-4 col-form-label"></label>
					            <div class="col-8">
						       <input type="text" th:field="*{image}" class="form-control" required />
							
                               <input style="color:white;" type="file" name="newfile">  
                                </div>
                              </div>
						














                 <br>

					

					<button type="submit" class="btn btn-primary">Register</button>
					</form>
					</div>
</body>
 </html>